.uc_starter_countdown *{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.uc_starter_countdown .uc_starter_countdown_inner{}


.uc_starter_countdown .uc_starter_countdown_inner .timer div span.bbb{ display:block;font-size:16px; padding:0 7%;margin:20px 0 0; line-height:32px; color:#0075f9; position:relative; }
.uc_starter_countdown .uc_starter_countdown_inner .timer div span em{ width:40px; height:2px; background:#000; position:absolute; top:-8px; left:50%; transform:translateX(-50%);}